@use "./variables";
@import url(./fontConfig.scss);

// Some resets
* {
  margin: 0;
  padding: 0;
}

// Scroll bar
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background: #0b917f;
}
::-webkit-scrollbar-thumb:hover {
  background: #0c8172;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #53e6cc;
}

.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

body {
  background-color: #032e28;
  color: white;
  font-family: poppins;

  display: flex;
  flex-direction: column;
  min-height: 100vh;

  a {
    color: white;

    &:hover {
      text-decoration: none;
    }
  }

  main,
  article {
    padding: 1em 10vw;
    .title {
      font-size: 3em;
    }

    .date {
      font-size: 1.5em;
    }

    hr {
      height: 5px;
      background-color: variables.$primary;
      border: none;
      border-radius: 8px;
      margin: 10px 0;
    }

    p {
      margin: 15px 0;
      font-size: 1.1em;
    }

    h1 {
      font-size: 3em;
    }

    h2 {
      font-size: 2.8em;
    }

    h3 {
      font-size: 2.5em;
    }

    h4 {
      font-size: 2.2em;
    }

    h5 {
      font-size: 2em;
    }

    h6 {
      font-size: 1.8em;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin: 5px 0;
    }

    ul {
      li::marker {
        content: "🚀 ";
      }

      ul {
        margin-left: 12px;

        li::marker {
          content: "🔥 ";
        }
      }
    }

    pre {
      padding: 1rem;
    }
    pre > code {
      all: unset;
    }

    img {
      border-radius: 16px;
    }

    blockquote {
      border: variables.$border 2px solid;
      padding: 1em;
      margin: 5px 0;
      p {
        margin: 0;
      }
    }

    mark {
      background-color: variables.$primary;
      color: white;
    }

    table,
    th,
    tbody,
    td {
      border: variables.$border 2px solid;
      border-collapse: collapse;
      padding: 10px;
      text-align: center;
    }

    table {
      width: 100%;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    code {
      padding: 2px 5px;
      background-color: variables.$primary;
      color: white;
      font-weight: bold;
    }

    .astro-code {
      margin: 10px 0;
      border-radius: 16px;
    }
  }
}

// Media queries
@media (max-width: 480px) {
  main,
  article {
    padding: 0;
  }

  h2 {
    font-size: 2em !important;
  }
}
