---
import Layout from "~/layouts/Layout.astro";
import Card from "~/components/Card.astro";

import { SITE_TITLE } from "~/config";

import { CollectionEntry, getCollection } from "astro:content";

export async function getStaticPaths() {
  const posts = await getCollection("blog");

  const uniqueTags = [...new Set(posts.map((post) => post.data.tags).flat())];

  return Array.from(uniqueTags).map((tag) => {
    const filteredPosts = posts.filter((post) => post.data.tags.includes(tag));

    return uniqueTags.map((tag) => {
      const filteredPosts = posts.filter((post) =>
        post.data.tags.includes(tag)
      );
      return {
        params: { tag },
        props: { posts: filteredPosts },
      };
    });
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Tag: ${tag} | ${SITE_TITLE}`}>
  <body>
    <h2 style="margin-bottom: 10px;">
      Tag: <strong>{tag}</strong>
    </h2>

    <div class="grid">
      {posts.map((post: CollectionEntry<"blog">) => <Card post={post} />)}
    </div>
  </body>
</Layout>
