---
import Layout from '~/layouts/Layout.astro';
import Card from '~/components/Card.astro';

import type { Post } from '~/types/post';
import { getPosts } from '~/utils';
import { SITE_TITLE } from '~/config';

export async function getStaticPaths() {
    const posts: Post[] = getPosts();

    const tags = new Set<string>();
    posts.map((post) => {
        post.frontmatter.tags.map((tag) => {
            tags.add(tag);
        });
    });

    return Array.from(tags).map((tag) => {
        const filteredPosts: Post[] = posts.filter((post) =>
            post.frontmatter.tags.includes(tag)
        );

        return {
            params: {
                tag: tag,
            },
            props: {
                posts: filteredPosts,
            },
        };
    });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<Layout title={`Tag: ${tag} | ${SITE_TITLE}`}>
    <body>
        <h2 style="margin-bottom: 10px;">
            Tag: <strong>{tag}</strong>
        </h2>

        <div class="grid">
            {posts.map((post: Post) => <Card post={post} />)}
        </div>
    </body>
</Layout>
