---
import Layout from '~/layouts/Layout.astro';
---

<Layout title="Neel writes">
    <div style="height: 100vh">
        <a href="/blog/markdown-style-guide">style</a>
    </div>
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
</Layout>
