---
import Layout from '~/layouts/Layout.astro';
import Card from '~/components/Card.astro';
import type { Post } from '~/types/post';

const posts = (await Astro.glob<Post>('./blog/*.{md,mdx}'))
    .filter((post) => !post.frontmatter.draft)
    .sort(
        (a, b) =>
            new Date(b.frontmatter.pubDate).valueOf() -
            new Date(a.frontmatter.pubDate).valueOf()
    );
---

<Layout title="Neel Writes 🖊">
    <h2>Greetings! I'm <span class="archDau">Neel!</span></h2>
    <p>
        I'm a full-stack web developer. This is my blog where I share some
        bits-and-pieces about myself, my life and random things that interest
        me.
    </p>

    <p>
        If you'd like to know about my work experience you could visit my <a
            href="https://and249.codes"
            >portfolio.
        </a>
    </p>

    <p>
        If you like my work and would like to support me, you could do so by
        donating to my <a href="https://ko-fi.com/and249">Ko-fi.</a>
    </p>

    <h3>Recent posts:</h3>
    <div class="grid">
        {posts.map((post) => <Card post={post} />)}
    </div>
</Layout>
