---
import Layout from '~/layouts/Layout.astro';

import '~/styles/global.scss';
---

<Layout title="Neel writes">
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
</Layout>
