---
import Layout from '~/layouts/Layout.astro';

import '~/styles/global.scss';
---

<Layout title="Neel writes">
    <div style="height: 100vh">
        <a href="/blog/markdown-style-guide">style</a>
    </div>
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
    <div style="height: 100vh">test</div>
</Layout>

<style>
    a {
        color: white;
    }
</style>
