---
import '~/styles/global.scss';
import '~/styles/fontConfig.scss';
---

<html>
    <body class="archDau logo">
        <main>
            <h1>Neel Writes</h1>
        </main>
    </body>
</html>

<style lang="scss">
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
    }
</style>
