---
import '~/styles/global.scss';
---

<html>
    <body class="archDau logo">
        <main>
            <img src="/favicon.png" alt="" />
            <h1>Neel Writes</h1>
        </main>
    </body>
</html>

<style lang="scss">
    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;

        img {
            width: 55px;
            display: inline;
            border-radius: 0;
            margin-top: 1px;
            margin-right: 5px;
        }

        h1 {
            display: inline;
        }
    }
</style>
