<div class="footer">
    Made with 💙 by <a href="https://and249.codes/">Anindo Neel Dutta</a>
</div>

<style lang="scss">
    .footer {
        margin-top: auto;
        padding: 1em;
        background-color: #296e63;

        a {
            color: white;
            &:hover {
                text-decoration: none;
            }
        }
    }
</style>
