---
import '~/styles/global.scss';
import BaseHead from './BaseHead.astro';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';

import { SITE_TITLE, DESCRIPTION } from '~/config';

export interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <BaseHead title={title} description={DESCRIPTION} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>

        <Footer />
    </body>
</html>
